:root {
  --primary-color: #d4a8a8;
  --secondary-color: #7b5c5c;
  --grid-container-color: #c9c9c9;
  --default-font-color: #383232;
  --secondary-font-color: #cec8c8;
  ---accent-color: #1f1a1a;
  --default-font: 'Arial', sans-serif;
  --font-size: 16px;
  --font-color: #383232;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    font-size: var(--font-size);
    background-color: var(--primary-color);
    color: var(--default-font-color);
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.recipe-list {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.recipe-intro {
    background-color: var(--recipe-intro-bg-color, #f8d1d1);
    width: 100%;
    padding: 15px;
    border-radius: 0px;
    margin: 10px;
    text-align: center;
}

.recipe-intro:hover {
    background-color: #71515127;
    transform: scale(1.02);
    transition: background-color 0.3s ease;
}

.recipe-title {
    color: var(--default-font-color);
    text-decoration: none;
}

.recipe-title:hover {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.1em;
}

.intro-image {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 10px;}

.intro-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

footer, header {
    margin-top: 20px;
    text-align: center;
    color: var(--secondary-font-color);
    background-color: var(--secondary-color);
    padding: 10px;
}